<div modal="editDeviceModal" close="cancel()">
 <!--  <form name="newUser"> -->
  <div class="modal-header">
      <h4>Device Settings</h4>      
  </div>
  <div class="modal-body">

</ul>
  
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()"> Save</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
  </form>
</div>
<!-- <div ng-repeat="device in data" id="{{device._id}}">
     <uib-accordion close-others="oneAtATime">
            <uib-accordion-group>
            
             <uib-accordion-heading>
                  <span>{{ device._id }}</span>
              
                  <div class="pull-right"  no-click>
                
                  <span style="cursor: default; font-size: 75%; margin-top:-14px;" >   <i>Name :{{ device.name }} </i></span>
                  <span 
                      ng-class="device.Status==1 ? 'fa fa-toggle-on fa-lg' : 'fa fa-toggle-off fa-lg'"
                      style="margin-top:-6px ;margin-left:10px ;color:{{device.Status==1 ? 'green' : 'red'}}"
                      tooltip-trigger="mouseenter"
                      tooltip-placement="right"
                      uib-tooltip ="{{device.Status==1 ? 'Active' : 'Inactive'}}"
                      tooltip-popup-delay='400'
                   ></span>
                  </div>
               </uib-accordion-heading>
            
            
          </uib-accordion>
   </div>  -->