<div modal="editDeviceModal" close="cancel()">
 <!--  <form name="newUser"> -->
  <div class="modal-header">
      <h4>Device Settings</h4>      
  </div>
  <div class="modal-body">
  <input ng-model="query" type="text"
        placeholder="Search Device" autofocus style="margin-bottom: 10px;">
  <h4>All Devices</h4>
  <form name="editDevice">
  <div ng-repeat="device in data | filter: query" id="{{device._id}}" >  
   <span class="col-sm-2 col-md-1"><input type="checkbox" ng-click ="changeAlert(device._id,test)"  ng-model = "selectedDevices[device._id].status"  style="margin-top: 10px;"></span>
     <uib-accordion class="col-sm-10 col-md-11" close-others="oneAtATime">
            <uib-accordion-group  ><!-- is-disabled ="!selectedDevices[$index]._id || selectedDevices[$index]._id.length == 0" -->
            
             <uib-accordion-heading >
                  <span disabled-panel>{{ device._id }}</span>
                 
                  <div class="pull-right" no-click>
                  
                  <span style="cursor: default; font-size: 75%; margin-top:-14px;" >    <i>Name :{{ device.name }} </i></span>
             
                  </div>
               </uib-accordion-heading>
              <div ng-repeat ="f in dfunc"   >
                <input type="checkbox"  ng-click ="changeFunc(device._id,f._id)" ng-model="checked" ng-init="checked = selectedDevices[device._id] && selectedDevices[device._id].func.indexOf(f._id) != -1 "/> {{f.desc}}            
              </div>
          </uib-accordion>
   </div> 
  
</div>
</ul>
  
  <div class="modal-footer">
    <button class="btn btn-success"  ng-click="ok()"> Save</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</form>
</div>
