
<div ng-controller ="ouserCtrl" >
	<div ng-show="loading"><h1>Loading</h1></div>
	<div ng-show="!loading">
		<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0  col-md-8 col-md-offset-0">
			<div class="row">
				<h3 style= "margin-top: 0px; margin-bottom: 0px;font-family: 'Pacifico', cursive; font-size: 40px" >Users</h3>
			</div>
			<div class="row">
				<button class="btn btn-primary" style="margin-top: 10px;" addorg-user> 
				<i class="fa fa-plus"> </i> Add User
				</button>
				<button class="btn btn-primary" style="margin-left: 10px;margin-top: 10px;" editouser-Device> 
				<i class="fa fa-rss"> </i> Device Access
				</button>					
			</div>		
		</div> 
		<div class="col-sm-4 col-md-4" resize hvalue='770'>
			<div class="row">
				<h4 style= "margin-top: 0px; margin-left: 13px">Organisation Details</h4>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-5">
					<label for="name">Name</label>
				</div> 	
				<div class="col-sm-7 col-md-5">
					<span>{{info.name}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-5">
					<label for="cperson">Contact person</label>
				</div>
				<div class="col-sm-7 col-md-5">
					<span>{{info.cperson}}</span>				
				</div>				
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-5">
					<label for="pno">P.no.</label>	
				</div>
				<div class="col-sm-7 col-md-5">
					<span>{{info.pno}}</span>				
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-5">
					<label for="address">Address</label>	
				</div>
				<div class="col-sm-7 col-md-5">
					<span style="font-size:85%">{{info.address.add1 }}, {{ info.address.sub }} ,{{info.address.state}} - {{info.address.pocode}}</span>				
				</div>				
			</div>
		</div>
	</div>
		<div class="row" style="background-color:#eee;margin-top:10px">			
			<div class="col-sm-12">
			<div  
			ui-grid="gridOptions" 
			ui-grid-selection 
			ui-grid-resize-columns 
			ui-grid-pagination
			class="myGrid" style="margin-top: 20px;"></div>
			</div>	 	
		</div>		
	</div>
</div>