<div class ="row" >

	<div class = "col-xs-12 col-sm-6 col-lg-6" >
		<canvas id="line" style="height: 100%;width:100%"class="chart chart-line" chart-data="graph[$index].temp"
		chart-labels="graph[$index].labels" chart-legend="true" chart-series="graph[$index].series[0]"
		chart-click="onClick" chart-options="chart_options_temp">
		</canvas>
	</div>
	<div class = "col-xs-12 col-sm-6 col-lg-6" >	
		<canvas id="line" class="chart chart-line" chart-data="graph[$index].level"
		chart-labels="graph[$index].labels" chart-legend="true" chart-series="graph[$index].series[1]"
		chart-click="onClick" chart-colours="colours" chart-options="chart_options_level">
		</canvas>
	
	</div> 
</div>