<div ng-controller ="orgCtrl">
	<div class="row">
		<h3>Organisation</h3>
		<button class="btn btn-primary" style="margin-top: 10px;"> 
		<i class="fa fa-plus"> </i> Add 
		</button>
		<button class="btn btn-primary" style="margin-left: 10px;margin-top: 10px;" > 
		<i class="fa fa-pencil"> </i> Edit 
		</button>			
<!-- 
		<div class="table-responsive">
		<div  
		ui-grid="gridOptions" 
		ui-grid-selection 
		ui-grid-resize-columns 
		ui-grid-pagination
		class="myGrid" style="margin-top: 20px;"></div>
		</div>	 -->
	</div> 
</div>
