<div ng-controller ="orgCtrl">
	<div class="row">
		<h3>Organisation</h3>
		<button class="btn btn-info" style="margin-top: 10px;" add-org> 
		<i class="fa fa-plus"> </i> Add 
		</button>
		<button class="btn btn-info" style="margin-left: 10px;margin-top: 10px;" edit-org-device> 
		<i class="fa fa-rss"> </i> Device Access
		</button>				
		
	</div> 
	<div class="row" style="background-color:#eee;margin-top:10px">			
		<div  
		ui-grid="gridOptions" 
		ui-grid-selection 
		ui-grid-resize-columns 
		ui-grid-pagination
		class="myGrid" style="margin-top: 20px;"></div>
	</div>	 	
	
</div>
